.carouselContainer {
  margin: 0 auto;
  width: 400px;
  height: 250px;
  position: relative;
  perspective: 1000px;
}

.carousel {
  height: 400px;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: flex;
  position: absolute;
  background: #000;
  width: 400px;
  height: 250px;
  line-height: 100px;
  font-size: 5em;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #FFF;
  opacity: 1;
  border-radius: 10px;
  overflow: hidden;
}

.item iframe {
  width: 90%; /* Largeur complète du conteneur */
  height: 90%; /* Hauteur complète du conteneur */
  border: none; /* Supprimez la bordure, si nécessaire */
  align-items: center;
}

.a {
  background: #ed1c24;
}
.b {
  background: #0072bc;
}
.c {
  background: #39b54a;
}
.d {
  background: #f26522;
}
.e {
  background: #630460;
} 
.f {
  background: #8c6239;
} 

.next, .prev {
  color: #444;
  position: absolute;
  top: calc(50% - (1em + 2em)/2);  /* Centrage vertical sans utiliser transform */
  padding: 1em 2em;
  cursor: pointer;
  background: rgb(83, 81, 81);
  border-radius: 5px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
}

.next:hover, .prev:hover {
  color: #000;
}

.next {
  right: 0;
  clip-path: polygon(100% 50%, 80% 0, 80% 100%);
}

.prev {
  left: 0;
  clip-path: polygon(0 50%, 20% 0, 20% 100%);
}

.buttonsBar {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -50%;
  left: 0;
  right: 0;
  z-index: 10;
}

.button {
  cursor: pointer;
  padding: 8px;
  margin: 0 8px;
}

@media (min-width: 601px) and (max-width: 1200px) {
  .carouselContainer {
    width: 300px;
    height: 187.5px;
  }

  .carousel {
    width: 300px;
    height: 187.5px;
  }

  .item {
    width: 300px;
    height: 187.5px;
  }

  .next, .prev {
    top: calc(50% - (0.75em + 1.5em)/2);
    padding: 0.75em 1.5em;
  }
}

@media (max-width: 600px) {
  .carouselContainer {
    width: 200px;
    height: 125px;
  }

  .carousel {
    width: 200px;
    height: 125px;
  }

  .item {
    width: 200px;
    height: 125px;
  }

  .next, .prev {
    top: calc(50% - (0.5em + 1em)/2);
    padding: 0.5em 1em;
  }
}

